<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">STRANGER THINGS</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Es una comunidad de fans de Stranger Things donde
                    destacamos escenas importantes y las fechas de lanzamiento de episodios</h2>
                <a class="btn btn-primary" href="../views/temporada5.html">EPISODIOS TEMPORADA 5 ST</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<main id="main-content">

    <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">Bienvenidos al rincón donde el Mundo del Revés cobra vida</h2>
                    <p class="text-white-50">
                        Somos una comunidad de fans apasionados por Stranger Things, la serie que nos hizo creer
                        otra vez en la amistad, el misterio y los ochenta.
                        <br>
                        En esta página encontrarás teorías, curiosidades, noticias de <a
                            href="../views/temporada5.html">episodios</a>,lo relacionado con
                        Hawkins y sus personajes. Nuestro objetivo es compartir la emoción de cada temporada,
                        recordar los mejores momentos, y mantener vivo el espíritu que hace única a esta historia.
                        <br>
                        Aquí celebramos a Eleven, Mike, Dustin, Lucas, Will y todos los héroes (y villanos) que
                        hacen de Stranger Things una experiencia inolvidable.
                    </p>
                </div>
            </div>
            <img class="img-fluid" src="./public/img/Stranger-Things-Logo-PNG-Cutout.png" alt="..." />
        </div>

    </section>