<!-- About-->
<main id="main-content">

    <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">Bienvenidos al rincón donde el Mundo del Revés cobra vida</h2>
                    <p class="text-white-50">
                        Somos una comunidad de fans apasionados por Stranger Things, la serie que nos hizo creer
                        otra vez en la amistad, el misterio y los ochenta.
                        <br>
                        En esta página encontrarás teorías, curiosidades, noticias de <a
                            href="../views/temporada5.html">episodios</a>,lo relacionado con
                        Hawkins y sus personajes. Nuestro objetivo es compartir la emoción de cada temporada,
                        recordar los mejores momentos, y mantener vivo el espíritu que hace única a esta historia.
                        <br>
                        Aquí celebramos a Eleven, Mike, Dustin, Lucas, Will y todos los héroes (y villanos) que
                        hacen de Stranger Things una experiencia inolvidable.
                    </p>
                </div>
            </div>
            <img class="img-fluid" src="./public/img/Stranger-Things-Logo-PNG-Cutout.png" alt="..." />
        </div>

        <div class="d-flex justify-content-center">
            <div class="card" style="width: 18rem; color: white; background-color: black">
                <div class="card-body">
                    <h5 class="card-title">Los Hermanos Duffer</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Stranger Things fue creada por Matt y Ross Duffer, conocidos como los Hermanos
                        Duffer.
                        Son gemelos estadounidenses nacidos en 1984, apasionados por el cine y la cultura de los años
                        80.
                        Su estilo combina misterio, ciencia ficción y nostalgia, lo que hizo de Stranger Things
                        un fenómeno mundial.</p>
                    <a href="https://strangerthings.fandom.com/es/wiki/Hermanos_Duffer" class="card-link">Fandom y
                        Más</a>
                    <a href="https://www.instagram.com/strangerthingstv/?hl=es" class="card-link">Instragram</a>
                </div>
            </div>
        </div>


    </section>