<section class="projects-section bg-light" id="projects">
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><video class="w-100 mb-3 mb-lg-0"
                            src="./public/media/Stranger Things  Title Sequence [HD]  Netflix.mp4" controls autoplay>
                        </video></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>INTRO</h4>
                            <p class="text-black-50 mb-0">La introducción de Stranger Things es una de las más
                                reconocidas
                                en la televisión moderna. Está compuesta únicamente por el logotipo rojo de la serie
                                formándose lentamente sobre un fondo negro, acompañado de una melodía electrónica con
                                sintetizadores, creada por la banda Survive.
                                <br>
                                Aunque no muestra escenas ni personajes, la intro logra transmitir perfectamente el tono
                                misterioso,
                                nostálgico y ochentero de la serie. Su estilo recuerda las películas de ciencia ficción
                                y terror de los años 80,
                                como las de Stephen King o John Carpenter.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><video class="w-100"
                            src="./public/media/STRANGER THINGS - ELEVEN & Demogorgon DEATH SCENE!!  (1080p) HD.mp4"
                            controls>
                        </video></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Eleven vs. el Demogorgon</h4>
                                    <p class="mb-0 text-white-50">En el final de la primera temporada, Eleven usa sus
                                        poderes para derrotar al
                                        Demogorgon y salvar a sus amigos, sacrificándose en el proceso. Es una escena
                                        que simboliza la amistad y el valor.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><video class="w-100"
                            src="/public/media/Max’s Song (Full Scene)  Kate Bush - Running Up That Hill  Stranger Things  Netflix.mp4"
                            controls>
                        </video>
                    <audio
                                        src="./public/media/Kate Bush - Running Up That Hill - Official Music Video.mp3"
                                        controls ></audio></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Max y “Running Up That Hill”</h4>
                                    <p class="mb-0 text-white-50">En la cuarta temporada, Max logra escapar del control
                                        de Vecna mientras suena la canción “Running Up That Hill”.
                                        La escena es icónica por su emoción, simbolismo y la fuerza interior de Max.Ayudo a que la musica “Running Up That Hill” de la cantante Kate
                                        Push se hiciera bien famosa en estos tiempo, por lo que en el siguiente audio se encuentra debajo del video podemos escucharla.</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><video class="w-100"
                            src="/public/media/Solo de guitarra de Eddie Munson en el Upside Down  Clip oficial  Netflix.mp4"
                            controls>
                        </video></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Eddie y su solo de guitarra en el Mundo del Revés</h4>
                                    <p class="mb-0 text-white-50">En la cuarta temporada, Eddie Munson toca la canción
                                        “Master of Puppets” de Metallica
                                        en el techo de una caravana en el del Mundo del Revés para atraer a los
                                        murciélagos de Vecna. Con su guitarra y una energía increíble, 
                                        convierte el momento en uno de los más icónicos.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>