 <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">STRANGER THINGS</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Es una comunidad de fans de Stranger Things donde
                        destacamos escenas importantes y las fechas de lanzamiento de episodios</h2>
                    <a class="btn btn-primary" href="../views/temporada5.html">EPISODIOS TEMPORADA 5 ST</a>
                </div>
            </div>
        </div>
    </header>